.button{
    position: absolute;
    display: block;
    z-index: 99;
}

#kick{
    left: 40%;
    top: 50%;
}

#snare{
     left: 50%;
     top: 50%;
 }

#song1{
    left: 40%;
    top: 50%;
}

#song2 {
    left: 60%;
    top: 50%;
}

#pauseSong1{
    left: 40%;
    top: 70%;
}

#pauseSong2 {
    left: 60%;
    top: 70%;
}

#detuner {
    left: 50%;
    top: 40%;
}

#filter {
    left: 30%;
    top: 40%;
}

#keys {
    left: 10%;
    top: 40%;
}

#click_text {
    display: none;
}
